.ui.inverted.text.container
  #upload-tab.ui.inverted.top.attached.tabular.menu
    a.active.item( data-tab="editor" ) Editor
    a.item( data-tab="upload" ) Upload File
    .right.menu
      .item
        a.ui.inverted.right.labeled.icon.primary.button( @click="clickSubmit" )
          i.send.icon
          | Submit

  .ui.inverted.bottom.attached.active.tab.segment( data-tab="editor" )
    #editor
    .ui.inverted.error.message( v-if="errEditor" ) {{ errEditor }}

  .ui.inverted.bottom.attached.tab.segment( data-tab="upload" )
    label.ui.inverted.icon.button( for="source-file" )
      i.file.icon
      | Open File
    input#source-file(type="file" v-model="filename" )
    span.filename-text {{ filename | getPath }}
    .ui.inverted.error.message( v-if="errFile" ) {{ errFile }}
