.ui.text.container
  .ui.top.attached.pagination.menu
    a.item( v-for="idx of tabRange", :class="[idx == curTabId ? 'active' : '']", @click="changeTab(idx)" ) {{ idx }}
    a.item ...
  table.ui.attached.celled.table
    thead
      tr
        th ID
        th Problem
        th Result
        th Points
    tbody
      tr( v-for="sub of submissions")
        td.selectable
          a( v-link="{name: 'submission', params: {id: sub._id}}" ).selectable  {{ sub._id }}
        td.selectable 
          a( v-link="{name: 'problem', params: {id: sub.problem._id}}" ) {{ sub.problem.name }}
        td {{ this.probUtils.getResultString(sub) }}
        td {{ this.probUtils.getPointsString(sub) }}

