.ui.text.container
  .ui.top.attached.pagination.menu
    a.item( v-for="idx of tabRange", 
      :class="[idx == curTabId ? 'active' : '']",
      v-link="{name: 'submissions', query: {s: idx}, activeClass: 'zzz'}" ) {{ idx }}
    a.item ...
  table.ui.attached.celled.table
    thead
      tr
        th.center.aligned.collapsing ID
        th Problem
        th Time
        th Result
        th.center.aligned.collapsing Runtime
        th.center.aligned.collapsing Points
    tbody
      tr.force-pointer( v-for="sub of submissions" v-link="{name: 'submission', params: {id: sub._id}}" )
        td.selectable.center.aligned.collapsing
          a(style="color: #4183C4; text-decoration: underline;")
            | {{ sub._id }}
        td.selectable 
          a( v-link="{name: 'problem', params: {id: sub.problem._id}}" ) {{ sub.problem.name }}
        td.selectable
          a {{ sub.ts | toFormattedTime 'MM/DD HH:mm:ss' }}
        td.selectable 
          a
            result-string( :status="sub.status", :result="sub.result" )
        td.selectable.center.aligned.collapsing
          a {{ probUtils.toDisplayTime(sub.runtime) }}
        td.selectable.center.aligned.collapsing
          a {{ probUtils.getPointsString(sub) }}