.ui.inverted.text.container
  .ui.inverted.segment
    form#profile-form.ui.inverted.form(method="POST")
      h4.ui.inverted.dividing.header User Info
      .three.fields
        .field
          label ID
          input( readonly="" type="text", :value="user ? user.meta.id : ''" )
        .field
          label Name
          input( readonly="" type="text", :value="user ? user.meta.name : ''" )
        .field
          label Role
          input( readonly="" type="text", :value="user ? getRole(user) : 'None'" )
      .field
        label User email
        input( readonly="" type="text", :value="user ? user.email : ''" )

      h4.ui.dividing.header Git information 
      .field
        label Git Repository
        input( readonly="" type="text", :value="user ? 'git@ada18-judge.csie.org:'+user.meta.id+'.git' : ''" )
      .field
        label SSH Public Key
        input( name="new-sshkey" placeholder="Input your SSH Key" type="text", :value="user ? user.ssh_key : ''" )

      h4.ui.inverted.dividing.header Change password
      .two.fields
        .field
          label New password
          input( name="new-password" placeholder="Input new password (empty means unmodified)" type="password" )
        .field
          label Confirm
          input( name="confirm-password" placeholder="Comfirm new password" type="password" )

      h4.ui.inverted.dividing.header Submit changes
      .field
        .two.fields
          .twelve.wide.field
            label Current password
            input( name="current-password" placeholder="Input current password" type="password" )
          .four.wide.field( style="align-self: flex-end;" )
            button.ui.inverted.right.floated.primary.right.labeled.icon.button
              i.send.icon
              | Send
      .ui.inverted.error.message
