.ui.inverted.text.container.segment
  component( v-if="problem" )
    .ui.inverted.segment
      .ui.inverted.masthead.vertical.clearing.segment(style="padding-bottom: 0px")
        h1.ui.inverted.left.floated.header {{ problem.name }}
          .sub.header Time Limit: {{ this.probUtils.toDisplayTime(problem.timeLimit) }}
        .ui.inverted.right.floated.header(style="margin-bottom: 5px; padding-top: 20px;")
          div.clear-after
            .hack
            a( v-if="user && (user.isAdmin || user.isTA || problem.showStatistic)"
              v-link="{name: 'problem.statistic', params: {id: problem._id}}" ).ui.inverted.right.labeled.icon.green.button.spaced
              i.area.chart.icon
              | Statistic
            a( v-if="user && (user.isAdmin || problem.notGitOnly)",
              v-link="{name: 'submit', params: {id: problem._id}}" ).ui.inverted.right.labeled.icon.primary.button.spaced
              i.send.icon
              | Submit
            a( v-if="user && user.isAdmin",
              v-link="{name: 'admin.problem', params: {id: problem._id}}" ).ui.inverted.right.labeled.icon.orange.button.spaced
              i.doctor.icon
              | Admin

      .mathjax.markdown( v-html="problem.desc | marked" )

      h2.ui.inverted.dividing.header Test Groups
      .ui.inverted.multiple.progress#testgroup-bar