.ui.text.container
  component( v-if="problem" )
    .ui.masthead.vertical.clearing.segment(style="padding-bottom: 0px")
      h1.ui.left.floated.header {{ problem.name }}
        .sub.header Time Limit: {{ this.probUtils.toDisplayTime(problem.timeLimit) }}
      .ui.right.floated.header(style="padding-top: 20px")
        div
          .hack
          a( v-link="{name: 'problem.statistic', params: {id: problem._id}}"
            style="margin-right: 10px" ).ui.right.labeled.icon.green.button 
            | Statistic
            i.area.chart.icon
          a( v-link="{name: 'submit', params: {id: problem._id}}" ).ui.right.labeled.icon.primary.button 
            i.send.icon
            | Submit

    .mathjax.markdown( v-html="problem.desc | marked" )
