.markdown :not(pre) code {
    background-color: #0d0d0d;
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 2px;
}

.markdown pre {
    background-color: #0d0d0d;
    padding: 4px 4px;
    border-radius: 4px;
}
