.ui.container
  .ui.four.item.menu
    a.item( v-link="{path: '/admin/homeworks'}" ) Homeworks
    a.item( v-link="{path: '/admin/problems'}" ) Problems
    a.item( v-link="{path: '/admin/submissions'}" ) Submissions
    a.item( v-link="{path: '/admin/users'}" ) Users

  .ui.divider

  router-view


