.ui.inverted.container
  .ui.inverted.two.item.menu
    a.item( v-link="{path: '/admin/problems'}" ) Problems
    a.item( v-link="{path: '/admin/submissions'}" ) Submissions

  .ui.inverted.divider

  router-view


