.ui.inverted.text.container( v-if="hw" )
  .ui.inverted.segments
    .ui.inverted.segment
      h2.ui.inverted.header Homework settings
    .ui.inverted.segment
      form.ui.inverted.form
        .field
          label Name
          input(type="text" v-model="hw.name")
        .two.fields
          .field
            .ui.inverted.toggle.checkbox
              input(type="checkbox" v-model="hw.visible")
              label Visible to non-admin
          .field
            .ui.inverted.toggle.checkbox
              input(type="checkbox" v-model="hw.showStatistic")
              label Show statistic
        .field
          label Due Time
          input(type="text" v-model="hw.due")
        .field
          label Description
          textarea(rows="10" v-model="hw.desc")
    .ui.inverted.segment
      h3.ui.inverted.header Problems
      table.ui.inverted.celled.table.selectable.pointer
        thead
          tr
            th ID
            th Problem Name
            th Weight
            th.collapsing
        tbody
          tr( v-for="(idx, prob) of hw.problems")
            td {{ prob.problem }}
            td {{ probMap[prob.problem] }}
            td 
              .ui.inverted.input
                input(v-model="prob.weight")
            td
              button.ui.inverted.icon.red.button( @click="removeProblem(idx)" )
                i.remove.icon
          tr
            td.center.aligned( colspan="4" ) 
              select.ui.inverted.search.dropdown#prob-select( v-model="choosedID" )
                option( v-for="prob of probs", :value="prob._id" ) {{ prob._id + ': ' + prob.name }}
              button.ui.inverted.button.right.labeled.icon.green.button( @click="addProblem" )#new-prob-btn
                i.plus.icon
                | Add new problem
    .ui.inverted.segment
      h3.ui.inverted.header Action
    .ui.inverted.segment
      button.ui.inverted.button.right.labeled.icon.primary.button( @click="sendUpdate" )
        | Submit
        i.right.arrow.icon

