.ui.text.container
  table.ui.celled.table
    thead
      tr
        th ID
        th Problem
        th Result
        th Points
    tbody
      tr( v-for="sub of submissions")
        td.selectable
          a( v-link="{name: 'submission', params: {id: sub._id}}" ).selectable  {{ sub._id }}
        td.selectable 
          a( v-link="{name: 'problem', params: {id: sub.problem._id}}" ) {{ sub.problem.name }}
        td {{ sub | getResult }}
        td {{ sub | getPoints }}

