.ui.container
  .ui.stackable.grid
    .four.wide.column
      .ui.vertical.fluid.menu
        .item
          .ui.header Filters
        .item
          h4.ui.header Problem ID or Name
          .ui.icon.input
            input(type="text" placeholder="ex: 12, hao123...",
              v-model="filter.probID" @keyup.enter="queryChanged" style="height: 38px;")
            i.inverted.circular.search.link.icon( @click="queryChanged" )
        .item
          h4.ui.header User ID or Name
          .ui.icon.input
            input(type="text" placeholder="b12345678, 洪好號"
              v-model="filter.user" @keyup.enter="queryChanged" style="height: 38px;")
            i.inverted.circular.search.link.icon( @click="queryChanged" )
        .item
          h4.ui.header Status
          select.ui.search.selection.dropdown#status-select( v-model='filter.result' )
            option( value="ALL" ) All
            option( value="AC" ) Accepted (AC)
            option( value="WA" ) Wrong Answer (WA)
            option( value="TLE" ) Time Limit Exceed (TLE)
            option( value="RE" ) Runtime Error (RE)
            option( value="CE" ) Compile Error (CE)
            option( value="JE" ) Judge Error (JE)
      .ui.pagination.menu
        a.item( v-for="idx of tabRange", :class="{active: idx == curTabId}", @click="changeTab(idx)" ) 
          | {{ idx }}

    .twelve.wide.column
      table.ui.very.compact.celled.table
        thead
          tr
            th.center.aligned ID
            th User
            th Problem
            th.center.aligned.collapsing Time
            th Result
            th.center.aligned.collapsing Runtime
            th.center.aligned.collapsing Points
            th.center.aligned.collapsing Re
        tbody
          tr( v-for="sub of submissions")
            td.selectable.center.aligned
              a( v-link="{name: 'submission', params: {id: sub._id}}" ).selectable  {{ sub._id }}
            td.selectable 
              a( v-link="{name: 'admin.submissions', params: {user: sub.submittedBy.meta.id}}" ) 
                | {{ displayName(sub.submittedBy) }}
            td.selectable 
              a( v-link="{name: 'admin.problem', params: {id: sub.problem._id}}" ) {{ sub.problem.name }}
            td.center.aligned.collapsing {{ sub.ts | toFormattedTime 'MM/DD HH:mm:ss' }}
            td( :class="{ positive: probUtils.isAC(sub), negative: probUtils.isNotAC(sub)}")
              | {{ sub.result }}
            td.center.aligned.collapsing {{ probUtils.toDisplayTime(sub.runtime) }}
            td.center.aligned.collapsing {{ probUtils.getPointsString(sub) }}
            td.collapsing.center.aligned 
              button.ui.icon.red.button( @click="rejudge(sub._id)" )
                i.refresh.icon
