.ui.text.container( v-if="user" )
  .ui.segments( v-for="hw of homeworks" )
    .ui.segment
      h2.ui.heading 
        .ui.ribbon.label( :class="[ {running: 'teal', ended: 'red', unpublished: 'black'}[hw.status] ]",
          style="top: -2px;" )
          | {{ hw.status | capitalize }}
        | {{ hw.name }}

    .ui.segment
      h3.ui.header Your statistic
      .ui.stackable.three.column.grid
        .column.center.aligned
          .ui.statistic
            .value {{ hw.userPoints | toFixed 0 }}
              small(style='font-size: 40%; margin-left: 4px;') / {{ hw.totalPoints }}
            .label Points
        .column.center.aligned
          .ui.statistic
            .value {{ hw.AC }}
              small(style='font-size: 40%; margin-left: 4px;') / {{ hw.problemNum }}
            .label Problems fully Accepted
        .column.center.aligned
          .ui.statistic
            .value 
              img.ui.inline.image( v-if="getRankImage(hw)", :src="getRankImage(hw)" )
              i.angle.double.down.icon( v-if="!hw.rank" style="font-size: 70%; color: #555555;" )
              b( :class="[ getRankClass(hw) ]") {{ getRankStr(hw) }}
              small(style='font-size: 30%; margin-left: 4px;') / {{ hw.totUsers }}
            .label Rank

    .ui.segment
      h3.ui.header Information
      table.ui.definition.table
        tbody
          tr
            td.collapsing Due Date
            td {{ hw.due | toFormattedTime 'YYYY/MM/DD HH:mm:ss' }}
          tr( v-if="_.has(hw, 'meta.pdfLink')" )
            td.collapsing PDF link
            td 
              a(href="{{hw.meta.pdfLink}}") {{ hw.meta.pdfLink }}
    .ui.segment
      h3.ui.header Description
      div( v-html="hw.desc | marked" )
      
    .ui.segment
      h3.ui.header Non Programming Problems
      label.ui.icon.button( v-bind:for="'source-file'+hw._id" )
        i.file.icon
        | Choose File
      input(type="file" v-model="filename[hw._id]" v-bind:id="'source-file'+hw._id")
      span.filename-text {{ filename[hw._id] | getPath }}
      a.ui.right.floated.labeled.icon.primary.button( v-on:click="clickSubmit(hw._id)" )
        i.send.icon
        | Upload
      table.ui.definition.table(v-if="user && _.includes(_.map(user.homeworks,getHwId),hw._id)")
        tbody
          tr
            td.collapsing File Name
            td {{ user.homeworks[_.findIndex( _.map(user.homeworks,getHwId) , checkHwId(hw._id) )].file_name }}
          tr
            td.collapsing File Size
            td {{ user.homeworks[_.findIndex( _.map(user.homeworks,getHwId) , checkHwId(hw._id) )].file_size }}
          tr
            td.collapsing SHA-1
            td {{ user.homeworks[_.findIndex( _.map(user.homeworks,getHwId) , checkHwId(hw._id) )].file_sha1 }}

    .ui.segment
      h3.ui.header Programming Problems
      table.ui.celled.table.selectable.pointer
        thead
          tr
            th ID
            th Problem Name
            th.collapsing Weight
            th Your points
        tbody
          tr( v-for="problem of hw.problems" v-link="{name: 'problem', params: {id: problem.problem._id}}",
          :class="{ positive: problem.AC }")
            td {{ problem.problem._id }}
            td {{ problem.problem.name }}
            td {{ problem.weight }}
            td {{ problem.userPoints }}
              small {{ ' ×' + problem.weight }} = {{ problem.weight * problem.userPoints }}

    .ui.segment( v-if="user" )
      a.ui.button.right.labeled.icon.green.button.spaced( v-if="user.isAdmin || user.isTA || hw.showStatistic"
        v-link="{name: 'homework.statistic', params: {id: hw._id}}" )
        | Statistic
        i.area.chart.icon
      a.ui.button.right.labeled.icon.orange.button( v-if="user.isAdmin"
        v-link="{name: 'admin.homework', params: {id: hw._id}}" )
        | Admin Page
        i.doctor.icon

  .ui.fluid.right.labeled.icon.green.button( v-if="user && user.isAdmin" @click="newHomework" )
    | Add New Homework
    i.add.icon

component( v-else )
  .ui.vertical.masthead.center.aligned.segment
    .ui.text.container
      h1.ui.teal.header#main-header.menu-font
        p
          i.cubes.icon
          | ADA JUDGE
          br
          | 2018
      h2.ui.teal.header.menu-font Login to begin...

component( v-if="user && homeworks.length==0" )
  .ui.vertical.masthead.center.aligned.segment
    .ui.text.container
      h1.ui.teal.header#main-header.menu-font
        p
          i.cubes.icon
          | ADA JUDGE
          br
          | 2018
      h2.ui.teal.header.menu-font No homework here...
