.ui.text.container( v-if="user" )
  .ui.segments( v-for="hw of homeworks" )
    .ui.segment
      h2.ui.heading {{ hw.name }}

    .ui.segment
      h3.ui.header Your statistic
      .ui.grid.three.column.row
        .column.center.aligned
          .ui.statistic
            .value {{ hw.userPoints }}
              small(style='font-size: 40%; margin-left: 4px;') / {{ hw.maxPoints }}
            .label Points
        .column.center.aligned
          .ui.statistic
            .value {{ hw.AC }}
              small(style='font-size: 40%; margin-left: 4px;') / {{ hw.problemNum }}
            .label Problems fully Accepted
        .column.center.aligned
          .ui.statistic
            .value -
            .label Rank

    .ui.segment
      h3.ui.header Information
      table.ui.definition.table
        tbody
          tr
            td.collapsing Due Date
            td {{ hw.due | toFormattedTime 'YYYY/MM/DD HH:mm:ss' }}
          tr( v-if="hw.meta.pdfLink" )
            td.collapsing PDF link
            td 
              a(href="{{hw.meta.pdfLink}}") {{ hw.meta.pdfLink }}
    .ui.segment
      h3.ui.header Problems
      table.ui.celled.table.selectable.pointer
        thead
          tr
            th ID
            th Problem Name
            th Your points
        tbody
          tr( v-for="problem of hw.problems" v-link="{name: 'problem', params: {id: problem._id}}" )
            td {{ problem._id }}
            td {{ problem.name }}
            td {{ problem.userPoints }}

component( v-else )
  .ui.vertical.masthead.center.aligned.segment
    .ui.text.container
      h1.ui.blue.header#main-header.menu-font
        p
          i.terminal.icon
          | ADA JUDGE
          br
          | 2016
      h2.ui.blue.header.menu-font Login to begin...
