.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.inverted.text.container
    h1.ui.inverted.olive.header#main-header.menu-font
      p
        i.terminal.icon
        | ADA JUDGE
        br
        | 2018
    h2.ui.inverted.olive.header.menu-font Login to begin...
