.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.inverted.text.container
    h1.ui.inverted.teal.header#main-header.menu-font
      p
        i.terminal.icon
        | DSA JUDGE
        br
        | 2020
    h2.ui.inverted.teal.header.menu-font Login to begin...
