.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    h1.ui.blue.header#main-header.menu-font
      p
        i.terminal.icon
        | ADA JUDGE
        br
        | 2016
    h2.ui.blue.header.menu-font Login to begin...
