.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    h1.ui.teal.header#main-header.menu-font
      p
        i.cubes.icon
        | ADA JUDGE
        br
        | 2018
    h2.ui.teal.header.menu-font Login to begin...
