head
  title ADA Judge

  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" type="text/css" 
    href="semantic/semantic.min.css")
  link(href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet")
