doctype html

html
  include header
  body
    .hack(style="display: inline-block;")
    #App
    .hack(style="margin-bottom: 30px; display: inline-block;")

  script(src="static/jquery.min.js")
  script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'],['\\(','\\)']],
        processClass: "mathjax",
        ignoreClass: "no-mathjax"
      },
      skipStartupTypeset: true,
    });
  script(src="static/MathJax.js")
  script(src="static/semantic/semantic.min.js")
  script(src="static/ace.js")
  script(src="static/Chart.bundle.min.js")
  script(src="static/app.js")
