doctype html

html
  include header
  body

    include menu
    include modal

    #main-container.ui.container
      router-view

  script(src="jquery.min.js")
  script(src="semantic/semantic.min.js")
  script(src="app.js")
