#top-menu.ui.fixed.top.secondary.pointing.blue.menu
  .ui.container
    a.item( v-link="{ path: '/', exact: true }" ) Home
    a.item Homeworks
    a.item( v-link="'/problems'" ) Problems
    a.item Ranking
    a.item Resource
    .right.menu( v-if="user" )
      .item {{user.email}}
      a.item( @click="clickLogout" ) Logout
    .right.menu( v-else="user" )
      a.item( v-if="!user" @click="clickLogin" ) Login
