#top-menu.ui.fixed.top.secondary.pointing.blue.menu
  .ui.container
    a.item.active Home
    a.item Homeworks
    a.item Problems
    a.item Ranking
    a.item Resource
    .right.menu
      a.item {{ user ? 'logout' : 'login' }}
