.ui.text.container
  .ui.segments
    .ui.segment( v-if="problem" )
      h2.ui.heading 
        | # {{ problem._id }}: {{ problem.name }}

    .ui.segment( v-if="stats" )
      h3.ui.header Statistic
      .ui.grid.three.column.row
        .column.center.aligned
          .ui.statistic
            .value {{ stats.hwStats.count }}
            .label Number of users tried
        .column.center.aligned
          .ui.statistic
            .value {{ stats.hwStats.AC }}
            .label #users with full grade
        .column.center.aligned
          .ui.statistic
            .value {{ stats.hwStats.average | toFixed 1 }}
            .label Average points

    .ui.segment
      h3.ui.header Points distribution
      div
        canvas#points-chart

    //-.ui.segment
      h3.ui.header First to AC
      table.ui.table
        tr( v-for="sub of stats.earliest" )
          td {{ sub.submittedBy.email }}
          

