.ui.text.container
  .ui.segments
    .ui.segment( v-if="problem" )
      h2.ui.heading 
        | # {{ problem._id }}: {{ problem.name }}

    .ui.segment( v-if="stats.probStats" )
      h3.ui.header Statistic
      .ui.grid.three.column.row
        .column.center.aligned
          .ui.statistic
            .value {{ stats.probStats.count }}
            .label Number of users tried
        .column.center.aligned
          .ui.statistic
            .value {{ stats.probStats.AC }}
            .label Number of AC users
        .column.center.aligned
          .ui.statistic
            .value {{ stats.probStats.average | toFixed 1 }}
            .label Average points

    .ui.segment
      h3.ui.header Results
      div
        canvas#result-chart

    .ui.segment
      h3.ui.header Points distribution
      div
        canvas#points-chart

    .ui.segment
      h3.ui.header Fastest among AC
      table.ui.celled.table.selectable( :class="{pointer: problem && problem.solutionVisible}" )
        thead
          tr
            th.collapsing.center.aligned ID
            th By
            th Runtime
        tbody
          tr( v-for="sub of (stats.fastest?stats.fastest:[])"
              v-link="problem.solutionVisible ? {name: 'submission', params: {id: sub._id}} : null" )
            td.collapsing.center.aligned( :class="{ 'blue-link': problem.solutionVisible }" ) {{ sub._id }}
            td {{ _.get(sub, 'submittedBy.meta.name', '') }} ({{ _.get(sub, 'submittedBy.meta.id') }})
            td {{ probUtils.toDisplayTime(sub.runtime) }}
          

