@import 'toastr.css';
@import 'margin.css';

#main-container {
    margin-top: 80px;
}

.top-menu {
    background-color: #2d2d2d !important;
}

#main-header {
    margin-top: 10vh;
    font-size: 6rem !important;
}

@media screen and (max-width: 767px) {
    #main-header {
        margin-top: 0;
    }
}

table.ui.inverted.table.selectable.pointer td {
    cursor: pointer;
}

.menu-font {
    font-family: 'Geo', sans-serif !important;
    font-size: 2.2rem !important;
    padding: 0.4rem 1rem !important;
}

.blue-link {
    text-decoration: underline;
    color: #4183C4;
}

body{
    background: #4a4a4a;
}

.ui.inverted.table tr.positive{
    background: #282e28!important;
    color: #e9f2e9!important;
}

.ui.inverted.table tr.negative{
    background: #2e2828!important;
    color: #f2e9e9!important;
}

.ui.inverted.table td.positive{
    background: #282e28!important;
    color: #e9f2e9!important;
}

.ui.inverted.table td.negative{
    background: #2e2828!important;
    color: #f2e9e9!important;
}

.ui.inverted.menu {
    border: 0 solid transparent;
    background: #1b1c1d;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.inverted.menu .ui.dropdown .menu>.item {
    color: rgba(255,255,255,.87)!important;
}

.ui.inverted.menu.menu .ui.dropdown .menu>.active.item {
    background: rgba(255,255,255,.03)!important;
    color: rgba(255,255,255,.95)!important;
}

.ui.inverted.toggle.checkbox input:checked~.box, .ui.inverted.toggle.checkbox input:checked~label {
    color: rgba(255,255,255,.95)!important;
}

.ui.inverted.form input:not([type]), .ui.inverted.form input[type=date], .ui.inverted.form input[type=datetime-local], .ui.inverted.form input[type=email], .ui.inverted.form input[type=file], .ui.inverted.form input[type=number], .ui.inverted.form input[type=password], .ui.inverted.form input[type=search], .ui.inverted.form input[type=tel], .ui.inverted.form input[type=text], .ui.inverted.form input[type=time], .ui.inverted.form input[type=url] {
    background: #2b2b2b;
    border-color: rgba(255,255,255,.1);
    color: rgba(255, 255, 255, 0.87);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.inverted.selection.dropdown {
    background: #2b2b2b;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255,255,255,.1);
}

.ui.inverted.ui.inverted.selection.dropdown .ui.label {
    background-color: #5a5a5a;
    color: rgba(255,255,255,.6);
}

.ui.inverted.items>.item>.content>.header {
    color: rgba(255,255,255,.85);
}