component
  .ui.inverted.grid.computer.only
    .top-menu.ui.inverted.fixed.top.secondary.pointing.olive.menu
      .ui.inverted.container
        div.item.menu-font( style="color: #B5CC18 !important;" )
          i.terminal.icon
          | ADA Judge
        a.item( v-link="{ path: '/', exact: true }" ) Home
        a.item( v-link="'/problems'" ) Problems
        a.item( v-if="user" v-link="'/submissions'" ) Submissions
        //-a.item Resource
        a.item( v-if="user && user.isAdmin" v-link="{name: 'admin'}" ) Admin
        .item| {{(datetime-datetimebase+nowdatetime) | toFormattedTime 'MM/DD HH:mm:ss'}}
        .right.menu( v-if="user" )
          a.item( v-link="{ name: 'profile' }" ) Profile
          .item {{user.email}}
          a.item( @click="clickLogout" ) Logout
        .right.menu( v-else="user" )
          a.item( v-if="!user" @click="clickLogin" ) Login

  .ui.inverted.grid.mobile.only.tablet.only
    .top-menu.ui.inverted.fixed.top.secondary.pointing.olive.menu
      .ui.inverted.container
        .ui.inverted.simple.dropdown.item(style="border-color: rgba(0,0,0,.0)!important;")
          i.content.icon
          .ui.inverted.menu(style="margin-top: 0px; background: #1b1b1b;")
            a.item( v-link="{ path: '/', exact: true }" ) Home
            a.item( v-link="'/problems'" ) Problems
            a.item( v-if="user" v-link="'/submissions'" ) Submissions
            //-a.item Resource
            a.item( v-if="user && user.isAdmin" v-link="{name: 'admin'}" ) Admin
            a.item( v-if="user" v-link="{ name: 'profile' }" ) Profile
            a.item( v-if="user" @click="clickLogout" ) Logout
            a.item( v-if="!user" @click="clickLogin" ) Login
        .item.menu-font( style="color: #B5CC18 !important;" )
          i.terminal.icon
          | ADA Judge
        .item| {{(datetime-datetimebase+nowdatetime) | toFormattedTime 'MM/DD HH:mm:ss'}}
