#login-modal.ui.inverted.modal
  i.close.icon
  .header User Login
  .content
    #login-form.ui.inverted.form
      .field
        label Email
        input(name="email" placeholder="your email" type="email")
      .field
        label Password
        input(name="password" placeholder="password" type="password")
      .ui.inverted.error.message
  .actions
    .ui.inverted.positive.right.labeled.icon.button
      | Login
      i.send.icon
